/* Fichier: stages_styles.css */

/* Ces variables de tableau sont conservées car Bootstrap ne propose pas de classes utilitaires pour les modifier directement. */
.table {
    --bs-table-bg: #fdfefe; 
    --bs-table-striped-bg: #e9ecef; 
    --bs-table-hover-bg: #dee2e6; 
}

/* Le padding des cellules de tableau est conservé pour une personnalisation précise, si le padding par défaut de Bootstrap n'est pas suffisant. */
.table td {
    padding: 1rem 0.75rem;
}